footer.foo
	.container
		.row
			.col-xs-12
				.foo__container
					.foo__contacts
						img.foo__logo(src="images/logo-foo.png", alt="3D This", width="119", height="38")
						.foo__phone
							| +7 987 654 32 10
						.social.foo__social
							a.social__link(href="#")
								.i-social-gray-vk
							a.social__link(href="#")
								.i-social-gray-fb
							a.social__link(href="#")
								.i-social-gray-is
						.foo__copy
							| © 2017. Все права защищены
					.foo__nav
						.nav-foo
							h3.text__h3.nav-foo__title
								| Главная
							ul.nav-foo__list
								li.nav-foo__item
									a(href="#")
										| Главная
								li.nav-foo__item
									a(href="#")
										| О нас
								li.nav-foo__item
									a(href="#")
										| Страница заказа
								li.nav-foo__item
									a(href="#")
										| Наши клиенты
								li.nav-foo__item
									a(href="#")
										| Контакты
						.nav-foo
							h3.text__h3.nav-foo__title
								| Главная
							ul.nav-foo__list
								li.nav-foo__item
									a(href="#")
										| Главная
								li.nav-foo__item
									a(href="#")
										| О нас
								li.nav-foo__item
									a(href="#")
										| Страница заказа
								li.nav-foo__item
									a(href="#")
										| Наши клиенты
								li.nav-foo__item
									a(href="#")
										| Контакты
						.nav-foo
							h3.text__h3.nav-foo__title
								| Главная
							ul.nav-foo__list
								li.nav-foo__item
									a(href="#")
										| Главная
								li.nav-foo__item
									a(href="#")
										| О нас
								li.nav-foo__item
									a(href="#")
										| Страница заказа
								li.nav-foo__item
									a(href="#")
										| Наши клиенты
								li.nav-foo__item
									a(href="#")
										| Контакты
					.foo__about
						h3.text__h3.foo__about-title
							| О нас
						p.text__p.foo__about-text
							| Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent id tempor ipsum. Fusce at massa ac nunc porta fringilla sed eget neque. 