.main
	.container
		.row
			.col-xs-12
				.main__container
					.main__inner
						h1.text__h1.main__title
							| Что такое  
							span.text__blue
								|  3DThis
						p.text__p.main__text
							| Сервис 3DThis позвляет получить вам любую 3D модель, не выходя из дома. Мы экономим силы и время нашим клиентам
						a.btn.btn_theme_blue.main__btn.fancy(href="#call")
							| Подробнее