header.header
	.container
		.row
			.col-xs-12
				.header__container
					div.nav__mobile.visible-xs
						.nav__icon
							span
							span
							span
					div
						img(src="images/logo.png", alt="3D This", width="154", height="48")
					div.hidden-xs
						nav.nav.header__nav
							ul.nav__list
								li.nav__item
									a.nav__link(href="#")
										| Главная
								li.nav__item
									a.nav__link.nav__link_active(href="#")
										| О нас
								li.nav__item
									a.nav__link(href="#")
										| Страница заказа
								li.nav__item
									a.nav__link(href="#")
										| Наши клиенты
								li.nav__item
									a.nav__link(href="#")
										| Контакты
					div
						.social.header__social
							a.social__link(href="#")
								.i-social-white-vk
							a.social__link(href="#")
								.i-social-white-fb
							a.social__link(href="#")
								.i-social-white-is
				div.visible-xs
					nav.nav.header__nav
						ul.nav__list
							li.nav__item
								a.nav__link(href="#")
									| Главная
							li.nav__item
								a.nav__link.nav__link_active(href="#")
									| О нас
							li.nav__item
								a.nav__link(href="#")
									| Страница заказа
							li.nav__item
								a.nav__link(href="#")
									| Наши клиенты
							li.nav__item
								a.nav__link(href="#")
									| Контакты
