.how-work
	.container
		.row
			.col-xs-12
				h2.text__h2.how-work__title.text__h2_decor
					| Как это работает?
			.clearfix.how-work__grid-items
				.col-xs-12.col-sm-4
					.how-work__item
						.how-work__item-pr
							.i-how-work-1
						.how-work__item-title
							| Загрузка
						.how-work__item-desc
							| Загружаете нас сайт и получаете стоимость печати
				.col-xs-12.col-sm-4
					.how-work__item
						.how-work__item-pr
							.i-how-work-2
						.how-work__item-title
							| оплата
						.how-work__item-desc
							| Оплачивайте заказ после подтверждения удобным способом
				.col-xs-12.col-sm-4
					.how-work__item
						.how-work__item-pr
							.i-how-work-3
						.how-work__item-title
							| Результат
						.how-work__item-desc
							| Получаете готовый заказ по почте или куръерской службой
