doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
		meta(content="telephone=no", name="format-detection")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		title
			| 3Dthis
		link(rel="stylesheet", href="css/bootstrap.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css")
		link(rel="stylesheet", href="css/jquery.scrollUp.min.css")
		link(rel="stylesheet", href="css/style.css")
	body
		include pug/header.pug
		include pug/main.pug
		include pug/how-work.pug
		include pug/order.pug
		include pug/about.pug
		include pug/foo.pug
		.hidden
			.popup#call
				h3.text__h3.popup__title
					| Обратный звонок
				form(method="POST")
					input.popup__input(name="name", type="text", placeholder="Имя", required)
					input.popup__input.input--phone(name="phone", type="text", placeholder="Телефон", required)
					button.btn.btn_theme_white.popup__btn(type="submit")
						| Отправить
			.gradient.popup#success
				h3.text__h3.popup__title.popup__title--success
					| Форма успешно отправлена!
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js")
		script(src="js/jquery.form.min.js")
		script(src="js/jquery.scrollUp.min.js")
		script(src="js/main.js")
